@font-face {
    font-family: poppins;
    src: url(fonts/Poppins-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    font-family: poppins;
    box-sizing: border-box;
    scroll-behavior: smooth;
    border: none;
    outline: none;
    text-decoration: none;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background-color: #102230;
    color: #eeeeee;
}

section {
    height: 100vh;
    width:100vw;
    padding: 10rem 8% 2rem;
}

span {
    color: #ffd900;
}

/* navbar design */
.header {
    display: flex;
    width: 100vw;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    padding: 2rem 8%;
    z-index: 100;
    background-color: #102230;
}

.header.sticky {
    border-block-start: .1rem solid rgba(0, 0, 0, .2);
}

.logo {
    font-size: 3rem;
    font-weight: 600;
    color: #eeeeee;
    letter-spacing: 1px;
}

.navbar a {
    color: #eeeeee;
    font-size: 2rem;
    margin-left: 4rem;
    position: relative;
    transition: color 0.3s ease-in-out, border-bottom 0.3s ease-in-out;
}

.navbar .active {
    color: #ffd900;
}

.navbar a:hover {
    cursor: pointer;
    color: #ffd900;
}

.navbar a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #eeeeee;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
}

.navbar a:hover::before {
    visibility: visible;
    transform: scaleX(1);
}

#ham-menu {
    font-size: 3.5rem;
    display: none;
}

/* home section design */
.home {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home-content h3 {
    font-size: 3.4rem;
    font-weight: 700;
}

.home-content h1 {
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.2;
}

.home-content p {
    font-size: 1.8rem;
    padding-right: 9rem;
    margin-top: 2rem;
}

.home-img {
    background-color: #ffd900;
    border-radius: 34% 66% 33% 67% / 62% 40% 60% 38%;
}

.home-img img {
    /* width: 350px; */
    /* height: 380px; */
    width: 35rem;
    height: 38rem;
    border-radius: 34% 66% 33% 67% / 62% 40% 60% 38%;
}

.social-media a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 4rem;
    width: 4rem;
    color: #ffd900;
    border: .2rem solid #ffd900;
    border-radius: 50%;
    font-size: 2.2rem;
    margin: 2rem 1.5rem 2rem 0;
    transition: .4s ease;
}

.social-media a:hover {
    background-color: #ffd900;
    color: #102230;
    box-shadow: 0 0 10px #ffd900;
}

.btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background-color: #ffd900;
    color: #102230;
    border-radius: 3rem;
    font-size: 1.6rem;
    font-weight: 600;
    letter-spacing: .1rem;
    cursor: pointer;
    margin: 0 1.2rem 0 0;
    transition: .4s ease;
}

.btn:hover {
    box-shadow: 0 0 8px #ffd900;
    transform: scale(1.1);
    font-weight: 600;
}

/* about section design */
.about {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.heading {
    text-align: center;
    font-size: 4.5rem;
}

.about-content {
    text-align: center;
}

.about-content h2 {
    font-size: 2.8rem;
}

.about-img {
    background-color: #ffd900;
    border-radius: 62% 38% 65% 35% / 36% 53% 47% 64%;
}

.about-img img {
    width: 35rem;
    height: 38rem;
    border-radius: 62% 38% 65% 35% / 36% 53% 47% 64%;
}

.about-content p {
    text-align: justify;
    font-size: 1.8rem;
    margin: 0 0 3rem;
    padding-left: 3.2rem;
    transition: .4s ease;
}

/* services section design */
.services h2 {
    margin-bottom: 5rem;
}

.services-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.services-container .services-box {
    flex: 1 1 30rem;
    padding: 3rem 2rem 4rem;
    text-align: center;
    border: .2rem solid #ffd900;
    border-radius: 2rem;
    transition: .4s ease;
}

.services-box:hover {
    transform: scale(1.08, 1.08);
    box-shadow: 0 0 10px #ffd900;
    background-color: #ffd900;
}

.services-box i {
    font-size: 6rem;
    color: #ffd900;
}

.services-box h3 {
    font-size: 2.8rem;
}

.services-box p {
    font-size: 1.6rem;
    text-align: center;
    margin: 1rem 0 2.8rem;
}

.services-box a {
    transition: .3s ease;
    border: 2px solid #ffd900;
}

.services-box:hover i {
    color: #102230;
}

.services-box:hover h3 {
    color: #102230;
}

.services-box:hover p {
    color: #102230;
    font-weight: 700;
}

.services-box:hover a {
    color: #102230;
    border: 2px solid #102230;
    transform: none;
}

/* portfolio section design */
.portfolio h2 {
    margin-bottom: 2rem;
}

.portfolio-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2.5rem;
}

.portfolio-box {
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem #102230;
    overflow: hidden;
    display: flex;
    transition: .3s ease;
}

.portfolio-box:hover {
    box-shadow: 0 0 10px #ffd900;
}

.portfolio-box img {
    width: 100%;
    height: 31vh;
    transition: .4s ease;
}

.portfolio-box:hover img {
    transform: scale(1.1);
    filter: brightness(60%);
}

.portfolio-box .portfolio-layer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, .1), #ffd900);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 3rem;
    transform: translateY(100%);
    transition: .5s ease;
}

.portfolio-box:hover .portfolio-layer {
    transform: translateY(0);
}

.portfolio-layer h4 {
    font-size: 3rem;
    font-weight: 700;
    line-height: 1;
}

.portfolio-layer p {
    font-size: 1.6rem;
    font-weight: 700;
    margin: .3rem 0 1rem;
}

.portfolio-layer a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background-color: #eeeeee;
    border-radius: 50%;
}

.portfolio-layer a i {
    font-size: 2rem;
    color: #102230;
}

/* contact section design */
.contact {
    padding: 8rem 8%;
}

.contact h2 {
    margin-bottom: 2rem;
}

.contact form {
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
}

.input-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.input-box input,
textarea {
    width: 100%;
    padding: 1.5rem;
    margin: .7rem 0;
    font-size: 1.6rem;
    color: #eeeeee;
    background: #102230;
    border: .3rem solid #ffd900;
    border-radius: .8rem;
    transition: 0.4s ease;
}

.input-box input {
    width: 49%;
}

textarea {
    resize: none;
    height: 22rem;
}

::placeholder {
    color: #eeeeee;
}

form .frm-btn {
    margin: 1.6rem 0 2rem;
}

/* footer design */
.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 8%;
    padding: 1.4rem 8%;
    border-top: 2px solid #eeeeee;
}

.footer-text {
    font-size: 1.8rem;
}

.footer-icon a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .4rem;
    color: #ffd900;
    border: .2rem solid #ffd900;
    border-radius: 50%;
    transition: 0.3s ease;
}

.footer-icon a i {
    font-size: 3rem;
}

.footer-icon a:hover {
    box-shadow: 0 0 10px #ffd900;
    background-color: #ffd900;
    color: #102230;
    transform: scale(1.1);
}

/* responsiveness */
@media (max-width:2560px) and (min-width:1600px) {
    html {
        font-size: 100%;
    }

    .portfolio-box img {
        height: 24rem;
    }

    form {
        min-width: 80%;
    }

    .contact {
        margin-bottom: 4rem;
    }
}

@media (max-width:1200px) {
    html {
        font-size: 55%;
    }
}

@media (max-width:991px) {
    .heading {
        padding: 1rem 3%;
    }

    section {
        padding: 10rem 3% 2rem;
    }

    .contact {
        min-height: auto;
    }

    .footer {
        padding: 2rem 3%;
    }
}

@media (max-width:768px) {
    html{
        overflow-x:hidden;
    }
    
    #ham-menu {
        display: block;
    }

    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: #102230;
        border-top: .1rem solid rgba(0, 0, 0, .2);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
        display: none;
    }

    .navbar.active {
        display: block;
    }

    .navbar a {
        display: block;
        margin: 2rem 0;
        font-size: 2.2rem;
        display: flex;
        justify-content: center;
    }

    .navbar a:hover::before {
        visibility: hidden;
    }

    section {
        height: 90vh;
    }

    .home {
        flex-direction: column;
        text-align: center;
    }

    .home-content h3 {
        font-size: 2.6rem;
    }

    .home-content h1 {
        font-size: 5rem;
    }

    .home-content p {
        padding-right: 0;
    }

    .home-img {
        width: 34rem;
        height: 36rem;
        margin-top: 4rem;
    }

    .home-img img {
        width: 34rem;
        height: 36rem;
    }

    .about {
        flex-direction: column-reverse;
    }

    .about-img {
        width: 34rem;
        height: 36rem;
        margin-top: 4rem;
    }

    .about-img img {
        width: 34rem;
        height: 36rem;
    }

    .services {
        padding-bottom: 7rem;
    }

    .portfolio h2 {
        margin-bottom: 3rem;
    }

    .portfolio-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .portfolio-box img {
        height: 22rem;
    }

    .contact {
        margin-bottom: -4.6rem;
        margin-top: 3rem;
    }

    .input-box {
        flex-direction: column;
    }

    .input-box input {
        width: 100%;
    }
}

@media (max-width:617px) {
    .portfolio-container {
        grid-template-columns: 1fr;
    }
}

@media (max-width:450px) {
    html {
        font-size: 50%;
        overflow-x:hidden;
    }

    section {
        height: 100vh;
    }

    .about-content p {
        padding-left: 0;
    }

    .portfolio-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .portfolio h2 {
        margin-top: 15rem;
    }

    .portfolio-box img {
        height: 18rem;
    }

    .portfolio-layer p {
        display: none;
    }

    .portfolio-layer a {
        width: 5rem;
        margin-top: 2rem;
    }

    .contact h2 {
        margin-top: 6rem;
    }

    .input-box input {
        width: 100%;
    }

    .contact {
        margin-bottom: -8rem;
    }
}

@media (max-width:365px) {
    .portfolio h2 {
        margin-top: 24rem;
    }

    .portfolio-box img {
        height: 18rem;
    }

    .portfolio-layer p {
        display: none;
    }

    .portfolio-layer a {
        width: 5rem;
        margin-top: 2rem;
    }

    .footer {
        flex-direction: column-reverse;
    }

    .footer-icon a {
        display: none;
    }

    .footer p {
        text-align: center;
    }
}
